

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<link rel="stylesheet" href="./css/navbar.css" />
<script src="./js/clock.js"></script>
<center>
    <div id="container">
        <div class="align-left">
            <img src="https://cdn.glitch.global/b631d2f5-8a5f-4427-90fa-c82b69dedb1c/Black%20And%20White%20Modern%20Typographic%20Simple%20Virus%20Apparel%20Logo%20(2).png?v=1713636171233" alt="logo" style="width: 25%;">
            <h2><a href="/" id="esad">  </a></h2>
        </div>
        <div class="align-right">
            <p id="clock"></p>
            <ul>
                <li>
                    <a href="/dashboard">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </li>
                <li>
                    <a href="/gxmes">
                        <i class="fa-solid fa-gamepad"></i>
                    </a>
                </li>
                <li>
                    <a href="/apps">
                        <i style="width: 15px;" class="fa-solid fa-border-all"></i>
                    </a>
                </li>
                <li>
                    <a href="/settings">
                        <i style="width: 15px;" class="fa-solid fa-gear"></i>
                    </a>
                </li>
                <li>
                    <a href="/extra">
                        <i class="fa-solid fa-box"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</center>
<script>
    let hideclock = localStorage.getItem("clockvisibility");
    let clack = document.getElementById("clock");
    if (hideclock === "true") {
        clack.style.display = "none";
    } else {
        clack.style.display = "";
    }

    
</script>